@media (max-width: 576px) {
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  app-product {
    display: flex;
    width: 70%!important;
  }
}
.dashboard {
  display: flex;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
app-product {
  display: flex;
  justify-content: center;
  width: 30.33%;
}
